html, 
body,
*{
    font-size: 16px;
    padding: 0;
    margin:5;
    box-sizing: border-box;
}

body {
    background-color:beige;
}
li {
    color:burlywood;
}

.first {
    color:black;
}
#second {
    color:blue; 
}
h1{
    font-size:32px;
    text-align: center;
}

h2{
    text-align: center;
    padding: 12;
}

.post-img{
    width:300px;
    height:60%;
    /*object fit fixes aspect ratoi of image if needed*/
    object-fit:cover;
    display: block;
    margin: 0 auto;
    
}

.post {
    height: 300px;
    width: 400px;
    background-color: white;
    margin:10px auto;
   
}

.post-desc {
    font-size:18px;
    text-align:center;
    margin:auto;
}
