html, 
body,
*{
    font-size: 16px;
    padding:5;
    margin:10;
    box-sizing: border-box;
}

body {
    background-color:beige;
}
li {
    color:burlywood;
}
.first {
    color:black;
}
#second {
    color:blue; 
}
h1{
    font-size:32px;
    text-align: center;
}

h2{
    text-align: center;
}


.post-img{
    width:500px;
    height:70%;
    /*object fit fixes aspect ratoi of image if needed*/
    object-fit:cover;
}

.post {
    height: 600px;
    width: 800px;
    background-color: white;
    margin:10px auto;
    padding: 5px;
}

.post-desc {
    font-size:22px;
    text-align:center;
}