body {
    background-color:aqua;
}
li {
    color:aliceblue;
}
.first {
    color:antiquewhite;
}
#second {
    color:blue; 
}
h1{
    font-size:32px;
    text-align: center;
}
img{
    width:50vw;
}